function mykeys {
  TMP_VAULT_PASS_FILE=/tmp/.vault_pass
  WORKSTATION_VM_DIR=/home/student/workstation-vm

  echo -n "Vault password: "
  read -sr vault_pass
  echo "${vault_pass}" > ${TMP_VAULT_PASS_FILE}
  if pushd ${WORKSTATION_VM_DIR} &> /dev/null
  then
    echo
    ansible-playbook sk.yml --skip-tags motd --vault-pass-file ${TMP_VAULT_PASS_FILE}
    popd &> /dev/null
  fi
  rm -f ${TMP_VAULT_PASS_FILE}
}

