  <configuration>
    <logicalmonitor>
      <x>0</x>
      <y>0</y>
      <scale>1</scale>
      <primary>yes</primary>
      <monitor>
        <monitorspec>
          <connector>{{ monitor_name }}</connector>
          <vendor>unknown</vendor>
          <product>unknown</product>
          <serial>unknown</serial>
        </monitorspec>
        <mode>
          <width>{{ monitor_width }}</width>
          <height>{{ monitor_height }}</height>
          <rate>{{ monitor_rate | default("60") }}</rate>
        </mode>
      </monitor>
    </logicalmonitor>
  </configuration>
